:root {
    --category-container-width: 260px;
    --header-height: 48px;
}

.header {
    height: var(--header-height);
    background-color: #0095da;
    box-shadow: 0 0 9px -1px #0009;
}

#root {
    height: calc(100vh - var(--header-height));
}

#category-container {
    width: var(--category-container-width);
    background-color: #363636;
    position: fixed;
    height: 100vh;
    color: white;
    font-size: larger;
}

#category-display, #category-module-info {
    height: 100%;
    width: 100%;
}

#category-display {
    padding: 30px;
}

#module-id-container{
    margin: 15px;
    background-color: #0095da;
    border-radius: 5px;
    padding: 15px;
    width: max-content;
    color: white;
}

#module-info-id:hover {
    cursor: pointer;
}

#module-json-example{
    background-color: rgb(30, 30, 30);
    color: white;
    padding: 12px;
    width: max-content;
}

.category-module {
    background-color: #e4e4e4;
    padding: 5px;
    border-radius: 4px;
    width: 340px;
    margin-bottom: 9px;
}

.module-description {
    font-size: 14px;
    padding-left: 4px;
    color: #878787;
}

#category-module-info {

}

#right-container {
    height: 100%;
    width: calc(100% - var(--category-container-width));
    left: var(--category-container-width);
    position: fixed;
}

.module-table{
    background-color: #d1d1d1;
    width: 750px;
}

.module-table-header{
    padding: 5px;
    background-color: #5c5c5c;
}

.module-table-row{
    display: flex;
    flex-direction: row;
}

.module-table-row-left{
    width: 30%;
    align-self: center;
    padding-left: 8px;
}

.module-table-row-right{
    width: 70%;
}